.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.step {
  min-width: 400px;
  width: 1200px;
  max-width: 1600px;
  min-height: 400px;
  height: 1200px;
  max-height: 1600px;
}
.step.home {
  width: 0;
  height: 0;
}
.step.product {
  width: 100vw !important;
  height: 100vh !important;
  background-image: url("./assets/cube.jpg")!important;
  background-repeat: no-repeat !important;
  -moz-background-size: 100%; /* Firefox 3.6+ */
  -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100%; /* Opera 9.6+ */
 /* background-size: cover !important;  /* maby don't need important*/


}
.step.about {
  width: 100vw !important;
  height: 100vh !important;
  background-image: url("./assets/cube.jpg")!important;
  -moz-background-size: 100%; /* Firefox 3.6+ */
  -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100%; /* Opera 9.6+ */
  /*background-size: cover !important;*/
}

.step.contact {
  width: 100vw !important;
  height: 100vh !important;
  background-image: url("./assets/cube.jpg")!important;
  -moz-background-size: 100%; /* Firefox 3.6+ */
  -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100%; /* Opera 9.6+ */
  background-size: cover !important;
}
#step-3,#step-2,#step-1,#step-4, #step-5,#step-6,#step-7{
  color:white;
}

.step.product1 {
  width: 100vw !important;
  height: 100vh !important;
  background-image: url("./assets/cube.jpg")!important;
  background-repeat: no-repeat!important;
  -moz-background-size: 100%; /* Firefox 3.6+ */
  -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100%; /* Opera 9.6+ */
  background-size: cover !important;/* maby don't need important*/

}
.step.about1 {
  width: 100vw !important;
  height: 100vh !important;
  background-image: url("./assets/cube.jpg")!important;
  -moz-background-size: 100%; /* Firefox 3.6+ */
  -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100%; /* Opera 9.6+ */

  background-size: cover !important;
}

.step.contact1 {
  width: 100vw !important;
  height: 100vh !important;
  background-image: url("./assets/cube.jpg")!important;
  -moz-background-size: 100%; /* Firefox 3.6+ */
  -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100%; /* Opera 9.6+ */

  background-size: cover !important;
}
